<header>

</header>

<main>
  <section class="showcase_1">
    <div class="container">
      <article>
        <h1>Hello World App by Angular</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, asperiores quos. Laborum, labore cupiditate.
          Temporibus vitae, voluptate eaque iure quod ut voluptatum enim, nostrum laborum, hic recusandae voluptatem?
          Quidem, necessitatibus?
        </p>
        <div class="card">
          <p-button label="Read more" icon="pi pi-check"></p-button>
        </div>
      </article>
    </div>
  </section>
  <section class="showcase_2">
    <div class="container">
      <article>
        <h1>Hello World App by React</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, asperiores quos. Laborum, labore cupiditate.
          Temporibus vitae, voluptate eaque iure quod ut voluptatum enim, nostrum laborum, hic recusandae voluptatem?
          Quidem, necessitatibus?
        </p>
        <div class="card">
          <p-button label="Read more" icon="pi pi-check"></p-button>
        </div>
      </article>
      <article class="py-3">
        <h1>Backend Message: </h1>
        <span class="text-3xl">{{backendMessage}}</span>
      </article>
    </div>
  </section>
</main>
