<p class="text-2xl">Home .... Admin portal admindb works!</p>
<div class="grid">
  <div class="container flex align-items-center">
    <div class="col">
      <div class="card flex">
        <h1>Image CDN Google Drive</h1>
        <div class="cdn-img">
          <img
            src=" https://drive.google.com/uc?export=view&id=1Fs4PFEQQYzkIVGpOfMJFspO70TIDrWNP"
            alt=""
            srcset=""
          />
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card flex align-items-center">
        <h1>Video CDN Google Drive</h1>
        <video height="320" width="320" controls>
          <source
            src="https://drive.google.com/uc?export=view&id=1EvBcqOmJ1o3dhw7cK2ErKlh8L47uY5DK"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
  </div>
</div>

<!-- Render Video from Google Drive -->
<!-- https://drive.google.com/file/d/1EvBcqOmJ1o3dhw7cK2ErKlh8L47uY5DK/view?usp=sharing -->
<!-- https://drive.google.com/file/d/1ZTc5h2afcfWeYa5TxU47bjhy2zxMN2cU/view?usp=drive_link -->
<!-- https://drive.google.com/file/d/1ZTc5h2afcfWeYa5TxU47bjhy2zxMN2cU/view?usp=drive_link -->

<!-- Image File -->
<!-- https://drive.google.com/file/d/1Fs4PFEQQYzkIVGpOfMJFspO70TIDrWNP/view?usp=sharing -->
